{% extends 'default.html' %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Password Reset" %}
    {% endelement %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    {% element p %}
        {% trans "Забыли свой пароль? Введите свой адрес электронной почты ниже, и мы отправим вам электронное письмо, в котором вы сможете сбросить его." %}
    {% endelement %}
    {% url 'account_reset_password' as reset_url %}
    {% element form form=form method="post" action=reset_url %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans 'Сбросить пароль' %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
{% endblock content %}
